@import "styles/mixins";

.Transactions {
  @include flex(center, space-between);
  height: 32px;
  & > :first-child {
    border-bottom-left-radius: 10px;
  }
  & > :last-child {
    border-bottom-right-radius: 10px;
  }
  &__button {
    @include flex();
    width: 50%;
    height: 100%;
    background-color: #28164d;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: var(--secondary);
    }
    &__icon {
      height: 18px;
      width: 18px;
      fill: #9767ff;
      border-radius: 50%;
    }
    &__text {
      color: #d9c8ff;
      font-size: 12px;
      margin-left: 3px;
    }
  }
}
