.slot {
  width: 815px;
  height: 536px;
  cursor: pointer;
  .slot__items__container {
    width: 100%;
    display: flex;
    transform: translateY(-480px);
    padding: 8px;
  }

  &-center {
    border: 2px solid #2b6878;
    border-radius: 0.375rem;
    position: relative;
    z-index: 999;
  }
}

@media (max-width: 1040px) {
  .slot {
    overflow: hidden;
  }
}